<a href="https://colab.research.google.com/github/barrosm/BIMASTER_CODE_PUBLIC/blob/main/002_cria_lista_acoes_e_codigos_bovespa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data Wrangling para criar lista de ações e seus códigos na Bovespa

### Data: 13/02/2020

In [ ]:
#%pip install quandl

In [ ]:
import quandl as qu

import pandas as pd
import os as os
import matplotlib.pyplot as plt
import numpy as np

from datetime import datetime
%matplotlib inline

import seaborn as sns; 
sns.set(rc={'figure.figsize':(17,6)})

import os

In [ ]:
# Key to use in Quandl 
# Obtenha em quandl.com
#================================================
key = "entre com a sua key"

In [ ]:
current_dir = os.getcwd()
current_dir

'/home/jovyan/work/@Fund_Eval/PROGRAMAS'

In [ ]:
path = '/home/jovyan/work/@Fund_Eval/@dados_acoes/'
path
os.makedirs(path, exist_ok = 'TRUE')

'/home/jovyan/work/@Fund_Eval/@dados_acoes/'

In [ ]:
# Reads in names, indexes and codes from worksheet downloaded from BMF
df_codes = pd.read_excel(path+'AcoesIndices.SetDez.2019.xlsx', header = 3, index_col = 0)

In [ ]:
# Size of data frame
df_codes.shape

(480, 24)

In [ ]:
df_codes.head(3)

,Tipo,BDRX,IBOV,IBRA,IBXL,IBXX,ICO2,ICON,IDIV,IEEX,...,IGNM,IMAT,IMOB,INDX,ISEE,ITAG,IVBX,MLCX,SMLL,UTIL
Ação,,,,,,,,,,,,,,,,,,,,,
3M,DRN,MMMC34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABBOTT,DRN,ABTT34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABC BRASIL,PN N2,NaN,NaN,ABCB4,NaN,NaN,NaN,NaN,ABCB4,NaN,...,NaN,NaN,NaN,NaN,NaN,ABCB4,NaN,NaN,ABCB4,NaN

In [ ]:
# Use bfill() function to populate missing values na values in the dataframe across rows.
df_codes['codigo']=df_codes.bfill(axis=1).iloc[:, 1]

In [ ]:
df_codes.head(3)

,Tipo,BDRX,IBOV,IBRA,IBXL,IBXX,ICO2,ICON,IDIV,IEEX,...,IMAT,IMOB,INDX,ISEE,ITAG,IVBX,MLCX,SMLL,UTIL,codigo
Ação,,,,,,,,,,,,,,,,,,,,,
3M,DRN,MMMC34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MMMC34
ABBOTT,DRN,ABTT34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABTT34
ABC BRASIL,PN N2,NaN,NaN,ABCB4,NaN,NaN,NaN,NaN,ABCB4,NaN,...,NaN,NaN,NaN,NaN,ABCB4,NaN,NaN,ABCB4,NaN,ABCB4

In [ ]:
df_codes.tail()

,Tipo,BDRX,IBOV,IBRA,IBXL,IBXX,ICO2,ICON,IDIV,IEEX,...,IMAT,IMOB,INDX,ISEE,ITAG,IVBX,MLCX,SMLL,UTIL,codigo
Ação,,,,,,,,,,,,,,,,,,,,,
WIZ S.A.,ON NM,NaN,NaN,WIZS3,NaN,NaN,NaN,NaN,WIZS3,NaN,...,NaN,NaN,NaN,NaN,WIZS3,NaN,NaN,WIZS3,NaN,WIZS3
XEROX CORP,DRN,XRXB34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XRXB34
YDUQS PART,ON NM,NaN,YDUQ3,YDUQ3,YDUQ3,YDUQ3,NaN,YDUQ3,NaN,NaN,...,NaN,NaN,NaN,NaN,YDUQ3,YDUQ3,NaN,YDUQ3,NaN,YDUQ3
YUM BRANDS,DRN,YUMR34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YUMR34
TODAL DE AÇÕES,NaN,164,68,141,50,100,29,54,34,19,...,11,14,42,33,189,50,66,74,22,164

In [ ]:
# Reorder data
neworder = [ 'codigo', 'Tipo', 'BDRX', 'IBOV', 'IBRA', 'IBXL', 'IBXX', 'ICO2', 'ICON', 'IDIV',
       'IEEX', 'IFIX', 'IFNC', 'IGCT', 'IGCX', 'IGNM', 'IMAT', 'IMOB', 'INDX',
       'ISEE', 'ITAG', 'IVBX', 'MLCX', 'SMLL', 'UTIL' ]

df_codes=df_codes.reindex(columns=neworder)

In [ ]:
df_codes.head()

,codigo,Tipo,BDRX,IBOV,IBRA,IBXL,IBXX,ICO2,ICON,IDIV,...,IGNM,IMAT,IMOB,INDX,ISEE,ITAG,IVBX,MLCX,SMLL,UTIL
Ação,,,,,,,,,,,,,,,,,,,,,
3M,MMMC34,DRN,MMMC34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABBOTT,ABTT34,DRN,ABTT34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABC BRASIL,ABCB4,PN N2,NaN,NaN,ABCB4,NaN,NaN,NaN,NaN,ABCB4,...,NaN,NaN,NaN,NaN,NaN,ABCB4,NaN,NaN,ABCB4,NaN
ACCENTURE,ACNB34,DRN,ACNB34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ACTIVISION,ATVI34,DRN,ATVI34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Drop last row
df_codes = df_codes.drop(df_codes.tail(1).index)
df_codes.shape

(479, 25)

In [ ]:
df_codes.tail()

,codigo,Tipo,BDRX,IBOV,IBRA,IBXL,IBXX,ICO2,ICON,IDIV,...,IGNM,IMAT,IMOB,INDX,ISEE,ITAG,IVBX,MLCX,SMLL,UTIL
Ação,,,,,,,,,,,,,,,,,,,,,
WESTERNUNION,WUNI34,DRN,WUNI34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WIZ S.A.,WIZS3,ON NM,NaN,NaN,WIZS3,NaN,NaN,NaN,NaN,WIZS3,...,WIZS3,NaN,NaN,NaN,NaN,WIZS3,NaN,NaN,WIZS3,NaN
XEROX CORP,XRXB34,DRN,XRXB34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YDUQS PART,YDUQ3,ON NM,NaN,YDUQ3,YDUQ3,YDUQ3,YDUQ3,NaN,YDUQ3,NaN,...,YDUQ3,NaN,NaN,NaN,NaN,YDUQ3,YDUQ3,NaN,YDUQ3,NaN
YUM BRANDS,YUMR34,DRN,YUMR34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Save data to csv files - changed separator to ';'
df_codes.to_csv(path+'codigos_acoes_bovespa.csv', sep = ';', columns = ['codigo'], encoding = 'utf-8')

## Open updated version of codes spreadsheet

In [ ]:
# Reads in names, indexes and codes from worksheet downloaded from BMF
df_codes2 = pd.read_excel(path+'AcoesIndices.MaiAgo.2020.xlsx', header = 3, index_col = 0)

In [ ]:
df_codes2.shape

(641, 24)

In [ ]:
df_codes2['codigo']=df_codes2.bfill(axis=1).iloc[:, 1]

# Reorder data
neworder = [ 'codigo', 'Tipo', 'BDRX', 'IBOV', 'IBRA', 'IBXL', 'IBXX', 'ICO2', 'ICON', 'IDIV',
       'IEEX', 'IFIX', 'IFNC', 'IGCT', 'IGCX', 'IGNM', 'IMAT', 'IMOB', 'INDX',
       'ISEE', 'ITAG', 'IVBX', 'MLCX', 'SMLL', 'UTIL' ]

df_codes2=df_codes2.reindex(columns=neworder)

In [ ]:
df_codes2.tail()

,codigo,Tipo,BDRX,IBOV,IBRA,IBXL,IBXX,ICO2,ICON,IDIV,...,IGNM,IMAT,IMOB,INDX,ISEE,ITAG,IVBX,MLCX,SMLL,UTIL
Ações,,,,,,,,,,,,,,,,,,,,,
XILINX INC,X1LN34,NaN,X1LN34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YDUQS PART,YDUQ3,NaN,NaN,YDUQ3,YDUQ3,YDUQ3,YDUQ3,NaN,YDUQ3,NaN,...,YDUQ3,NaN,NaN,NaN,NaN,YDUQ3,YDUQ3,NaN,YDUQ3,NaN
YUM BRANDS,YUMR34,NaN,YUMR34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZIONSBANCORP,Z1IO34,NaN,Z1IO34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TODAL DE AÇÕES,305,NaN,305,75,152,50,100,28,60,35,...,132,11,17,40,36,191,50,61,90,24

In [ ]:
# Drop last row
df_codes2 = df_codes2.drop(df_codes2.tail(1).index)
df_codes2.shape

(640, 25)

In [ ]:
# Save data to csv files - changed separator to ';'
df_codes2.to_csv(path+'codigos_acoes_bovespa_2020T2.csv', sep = ';', columns = ['codigo'], encoding = 'utf-8')

In [ ]:
## Concatenate rows of dataframes with codes
df_all = pd.concat([df_codes,df_codes2], axis = 'rows')

In [ ]:
df_all.shape

(1120, 25)

In [ ]:
## Drop duplicates
df_all = df_all.drop_duplicates(subset = 'codigo', keep = 'first')

In [ ]:
df_all.shape

(669, 25)

In [ ]:
df_all.set_index('codigo')
df_all.head()

,codigo,Tipo,BDRX,IBOV,IBRA,IBXL,IBXX,ICO2,ICON,IDIV,...,IGNM,IMAT,IMOB,INDX,ISEE,ITAG,IVBX,MLCX,SMLL,UTIL
3M,MMMC34,DRN,MMMC34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABBOTT,ABTT34,DRN,ABTT34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABC BRASIL,ABCB4,PN N2,NaN,NaN,ABCB4,NaN,NaN,NaN,NaN,ABCB4,...,NaN,NaN,NaN,NaN,NaN,ABCB4,NaN,NaN,ABCB4,NaN
ACCENTURE,ACNB34,DRN,ACNB34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ACTIVISION,ATVI34,DRN,ATVI34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_all.head()

,codigo,Tipo,BDRX,IBOV,IBRA,IBXL,IBXX,ICO2,ICON,IDIV,...,IGNM,IMAT,IMOB,INDX,ISEE,ITAG,IVBX,MLCX,SMLL,UTIL
3M,MMMC34,DRN,MMMC34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABBOTT,ABTT34,DRN,ABTT34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABC BRASIL,ABCB4,PN N2,NaN,NaN,ABCB4,NaN,NaN,NaN,NaN,ABCB4,...,NaN,NaN,NaN,NaN,NaN,ABCB4,NaN,NaN,ABCB4,NaN
ACCENTURE,ACNB34,DRN,ACNB34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ACTIVISION,ATVI34,DRN,ATVI34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Saves updated list of assets to csv
df_all.to_csv(path+'codigos_acoes_bovespa_UPDATED_2020T2.csv', sep = ';', columns = ['codigo'], encoding = 'utf-8')