<a href="https://colab.research.google.com/github/barrosm/BIMASTER_CODE_PUBLIC/blob/main/004_leitura_dados_ativos_financeiros_Yahoo_rev_20210515.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Teste de leitura de dados da Bovespa no Yahoo e Quandl

### Data: 18/02/2021 - última atualização em 15/05/2021

In [15]:
%pip install quandl
#%pip install pandas-datareader
%pip install yfinance --upgrade --no-cache-dir

Requirement already satisfied: quandl in /usr/local/lib/python3.7/dist-packages (3.6.1)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from quandl) (8.7.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: inflection>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from quandl) (0.5.1)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.19.5)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.1.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2020.12.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->quandl) (2018.9)
Requirement already up-to-date: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.59)
Requirement already satisfied, skipping upgrade: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied, skipping upgrade: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied, skipping upgrade: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied, skipping upgrade: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)

In [16]:
# Veja https://stackoverflow.com/questions/49705047/downloading-mutliple-stocks-at-once-from-yahoo-finance-python
# Para implementação que usa Yahoo Finance com datareader
# Nome do pacote foi alterado - veja também https://pypi.org/project/fix-yahoo-finance/

In [17]:
import quandl as quandl

##from pandas_datareader import data as pdr

import yfinance as yf

import pandas as pd
import os as os
import matplotlib.pyplot as plt
import numpy as np

import datetime  # Importar o módulo, e não o tipo, como seria a seguir:
#from datetime import datetime
%matplotlib inline

import seaborn as sns; 
sns.set(rc={'figure.figsize':(17,6)})

import os

from time import perf_counter

import pytz
local_tz = pytz.timezone('America/Sao_Paulo')

In [18]:
# Define data de hoje (para incluir nos arquivos de saida)
data_hoje = datetime.datetime.now(tz = local_tz)
# Converte para string (incluindo hora e minuto - útil se for rodar várias vezes no mesmo dia para testes)
data_hoje = data_hoje.strftime("%Y_%m_%d_%H%M")

In [19]:
data_hoje

'2021_05_15_2032'

In [20]:
# Key to use in Quandl 
# obter em quandl.com
key = 'entre com sua key'

In [21]:
# Configuração Oauth Yahoo  - inserir os seus valores
#Client ID (Consumer Key) = 
#Client Secret (Consumer Secret) =

In [22]:
# Exibe diretório atual e muda para diretório especificado
current_dir = os.getcwd();
print(' ')
print('diretório atual = ', current_dir)

path_result = '/home/jovyan/work/@Fund_Eval/@dados_acoes/'
os.makedirs(path_result, exist_ok = 'TRUE')


path_data = '/home/jovyan/work/@Fund_Eval/@dados_acoes/'
os.makedirs(path_data, exist_ok = 'TRUE')

diretório atual =  /content

In [23]:
# Leitura dos códigos (arquivo csv já trabalhado) - DADOS ATUALIZADOS ATÉ 2o TRIMESTRE 2020

# Agora só estou baixando dados de Ações - excluo BRDRs e fundos imobiliários
#df_codes = pd.read_csv(path_data+'codigos_acoes_bovespa_2020T2.csv', sep = ';', index_col = 0)
df_codes = pd.read_csv(path_data + 'df_code_só_Brasil.csv', sep = ';', index_col = 0)

In [24]:
df_codes.head(3)

             codigo
acao
ABC BRASIL    ABCB4
ADVANCED-DH   ADHM3
AES TIETE E  TIET11

In [25]:
df_codes.tail(3)

           codigo
acao
WEG         WEGE3
WIZ S.A.    WIZS3
YDUQS PART  YDUQ3

In [26]:
#df_codes.info()
df_codes.shape

(228, 1)

In [27]:
codes = df_codes['codigo'].values

In [28]:
kk = codes#[0:100]
kk = kk.tolist()

# Usando o Yahoo Finance

## Parte 1 - ações (agora sem BDR) da lista da Bovespa

## Data de início: 01/01/2017

In [29]:
# Alterando os símbolos para o Yahoo (adiciona .SA no final)
kk2 = [ i + '.SA' for i in kk]

In [30]:
import datetime

start = datetime.datetime(2017,1,1)
end = datetime.datetime.now().date()

time_start = perf_counter()

df_adj_close = yf.download(kk2, start=start, end=end)['Adj Close']#, 'Close']]
df_close = yf.download(kk2, start=start, end=end)['Close']

time_end = perf_counter()
elapsed_time = time_end - time_start
print(' ')
print(' **** o programa rodou em ', round(elapsed_time,2) , ' segundos *****')

[*********************100%***********************]  226 of 226 completed

12 Failed downloads:
- NATU3.SA: No data found, symbol may be delisted
- CPRE3.SA: No data found, symbol may be delisted
- IDVL4.SA: No data found, symbol may be delisted
- VIVT4.SA: No data found, symbol may be delisted
- LIQO3.SA: No data found, symbol may be delisted
- IDVL3.SA: No data found, symbol may be delisted
- TIMP3.SA: No data found, symbol may be delisted
- ELPL3.SA: No data found, symbol may be delisted
- PCAR4.SA: No data found, symbol may be delisted
- RLOG3.SA: No data found, symbol may be delisted
- CCXC3.SA: No data found, symbol may be delisted
- BMGB11.SA: No data found, symbol may be delisted
[*********************100%***********************]  226 of 226 completed

12 Failed downloads:
- NATU3.SA: No data found, symbol may be delisted
- CPRE3.SA: No data found, symbol may be delisted
- IDVL4.SA: No data found, symbol may be delisted
- VIVT4.SA: No data found, symbol may be delisted
- LIQO3.SA: No data found, symbol may be delisted
- IDVL3.SA: No data found, symbol may be delisted
- TIMP3.SA: No data found, symbol may be delisted
- ELPL3.SA: No data found, symbol may be delisted
- PCAR4.SA: No data found, symbol may be delisted
- RLOG3.SA: No data found, symbol may be delisted
- CCXC3.SA: No data found, symbol may be delisted
- BMGB11.SA: No data found, symbol may be delisted

 **** o programa rodou em  88.25  segundos *****

In [31]:
df_adj_close.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1088 entries, 2017-01-02 to 2021-05-14
Columns: 226 entries, AALR3.SA to YDUQ3.SA
dtypes: float64(226)
memory usage: 1.9 MB

In [32]:
df_close.head()

            AALR3.SA  ABCB4.SA   ABEV3.SA  ...  WEGE3.SA  WIZS3.SA   YDUQ3.SA
Date                                       ...
2017-01-02     14.60   12.9961  16.309999  ...   11.6154     13.35  15.450000
2017-01-03     14.90   13.5527  16.639999  ...   12.2000     13.64  16.309999
2017-01-04     14.90   13.9432  16.510000  ...   11.9077     14.30  16.230000
2017-01-05     15.35   14.1678  16.600000  ...   11.8769     14.51  15.970000
2017-01-06     15.45   14.3045  16.459999  ...   11.9769     14.01  15.850000

[5 rows x 226 columns]

In [33]:
df_close.tail()

            AALR3.SA  ABCB4.SA   ABEV3.SA  ...   WEGE3.SA  WIZS3.SA   YDUQ3.SA
Date                                       ...
2021-05-10      9.03     14.82  16.500000  ...  32.310001     11.10  28.520000
2021-05-11      9.12     15.12  16.870001  ...  32.290001     11.31  28.549999
2021-05-12      8.86     15.25  16.870001  ...  31.270000     11.32  27.309999
2021-05-13      8.83     15.85  16.879999  ...  31.799999     11.15  29.950001
2021-05-14      9.98     16.00  17.230000  ...  32.099998     10.83  31.760000

[5 rows x 226 columns]

In [36]:
from openpyxl import Workbook
writer = pd.ExcelWriter(path_result+'df_close_'+str(data_hoje)+'.xlsx', index = True)
df_close.to_excel(writer, sheet_name = 'close_quotes', index = True)
writer.save()

## Parte 2 - lista de índices

In [37]:
df_codes2 = pd.read_csv(path_result+'codigos_indices.csv', sep = ';', index_col = 0, encoding= 'latin1')
df_codes2.tail()

                        codigo
Ativo
USD/HKD                  HKD=X
USD/MXN                  MXN=X
USD/ZAR                  ZAR=X
Treasury Yield 10 Years   ^TNX
CBOE Volatility Index     ^VIX

In [38]:
#df_codes2.info()
df_codes2.shape[0]

30

In [39]:
codes2 = df_codes2['codigo'].values.tolist()

time_start = perf_counter()

df_adj_close2 = yf.download(codes2, start=start, end=end)['Adj Close']#, 'Close']]
df_close2 = yf.download(codes2, start=start, end=end)['Close']

time_end = perf_counter()
elapsed_time = time_end - time_start
print(' ')
print(' **** o programa rodou em ', round(elapsed_time,2) , ' segundos *****')

[*********************100%***********************]  30 of 30 completed

1 Failed download:
- ^SSEC: No data found, symbol may be delisted
[*********************100%***********************]  30 of 30 completed

1 Failed download:
- ^SSEC: No data found, symbol may be delisted

 **** o programa rodou em  17.96  segundos *****

In [40]:
df_close2.head()

            AUDUSD=X  BRAX11.SA   CNY=X  ...   ^TNX   ^VIX         ^XAX
Date                                     ...
2017-01-02  0.720981  48.500000  6.9438  ...    NaN    NaN          NaN
2017-01-03  0.719683  49.930000  6.9440  ...  2.450  12.85  2325.129883
2017-01-04  0.722993  50.080002  6.9598  ...  2.452  11.85  2334.260010
2017-01-05  0.728704  50.660000  6.9251  ...  2.368  11.67  2339.120117
2017-01-06  0.733837  50.009998  6.8879  ...  2.418  11.32  2333.550049

[5 rows x 30 columns]

In [41]:
writer = pd.ExcelWriter(path_result+'df_close2_'+str(data_hoje)+'.xlsx', index = True)
df_close2.to_excel(writer, sheet_name = 'close_quotes', index = True)
writer.save()

In [42]:
print(df_close.shape)
print(df_close2.shape)

(1089, 226)
(1140, 30)

In [43]:
df_close_all = pd.concat([df_close, df_close2], axis = 1)

In [44]:
df_close_all.shape

(1141, 256)

Pelo tamanho de df_close_all, inseriu linhas em branco. df_close2 (índices) tem mais observações que df_close (só São Paulo, onde só aparecem as datas de negociação em SP).

In [45]:
df_close.shape

(1089, 226)

In [46]:
df_close2.shape

(1140, 30)

In [47]:
df_adj_close_all = pd.concat([df_adj_close, df_adj_close2], axis = 1)

In [48]:
print(df_adj_close.shape)
print(df_adj_close2.shape)
print(df_adj_close_all.shape)

(1088, 226)
(1140, 30)
(1141, 256)

### Salvando os dados em arquivo pickle

In [49]:
import pickle

saveObject = (df_adj_close_all)
filename = 'df_adj_close_all_'+str(data_hoje)+'.pkl'
with open(path_result+filename,"wb") as f:
    pickle.dump(saveObject, f)

saveObject = (df_close_all)
filename = 'df_close_all'+str(data_hoje)+'.pkl'
with open(path_result+filename,"wb") as f:
    pickle.dump(saveObject, f)

## Salvando os dados em arquivo csv

In [50]:
time_start = perf_counter()
df_close_all.to_csv(path_result+'df_close_all_'+str(data_hoje)+'.csv',sep = ';' ,encoding='utf-8')

df_adj_close_all.to_csv(path_result+'df_adj_close_all_'+str(data_hoje)+'.csv',sep = ';' ,encoding='utf-8')

time_end = perf_counter()
elapsed_time = time_end - time_start
print(' ****salvar df em .csv demorou ', round(elapsed_time,2) , ' segundos *****')

 ****salvar df em .csv demorou  1.0  segundos *****

In [51]:
# Identificando quem teve retorno acumulado > 20%
#df_last_position = ((df_close.iloc[:,:].pct_change()+1).cumprod()).tail(1)
#tops = ((df_close.pct_change()+1).cumprod())[df_last_position > 1.2]
#tops.tail(1)
#top_assets = tops.tail(1).transpose()
#top_assets

# Plotando só as tops (retorno acumulado > 20%)

# Plot first 15 closing prices - normalized
##((df_close.iloc[:,0:15].pct_change()+1).cumprod()).plot(figsize=(20, 7))
# Show the legend
#plt.legend()
# Define the label for the title of the figure
#plt.title("Closing Price", fontsize=16)
# Define the labels for x-axis and y-axis
#plt.ylabel('Price', fontsize=12)
#plt.xlabel('Date', fontsize=12)
# Plot the grid lines
#plt.grid(which='major', color='k', linestyle='-.', linewidth=0.6)
#plt.show()